{% extends 'base.html' %}

{% block title %}Edit Profile - MySocialApp{% endblock title %}


{% block body %}

{% with messages = get_flashed_messages()  %}
  {% if messages %}
  <div class="alert alert-primary" role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}    
  </div>
  {% endif %}
{% endwith %}

<div class="container">
    <h1 class="text-center">
        <img src="/static/img/edit-profile.svg" alt="" width="35px" height="35px">
        UPDATE PASSWORD
    </h1>
    <hr/>
    <br/> 
    {% if error %}
    <div class="alert alert-primary" role="alert">
        Error: {{error}}
    </div> 
{% endif %}
<div class="container">
    <div>
        <form method="post" class="form-horizontal">
            <div class="form-group row">
                <label class="col-form-label col-4">Previous password:</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="edit-old-pw" required>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-form-label col-4">New password:</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="edit-new-pw" required>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <button type="submit" class="btn btn-primary btn-dark">Update</button>
                </div>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</div>
</div>
{% endblock body %}