{% extends 'base.html' %}

{% block title %}Home - MySocialApp{% endblock title %}


{% block body %}
<div class="container">
    <h1 class="text-center">
        <img src="/static/img/home.svg" alt="" width="35px" height="35px">
        HOME
    </h1>
    <hr/>
    <br/>   
    <div class="row">
        <div class="col-4">
            <h4>Profile</h4>
            {% if user['image_path'] %}
            <div class="d-flex justify-content-center">
                <img src="{{  user['image_path'] }}" alt="" style="border-radius: 50%;" width="100px" height="100px">
            </div>
            {% else %}
            <div class="d-flex justify-content-center">
                <img src=" https://mysocialapp.s3.us-east-2.amazonaws.com/default" alt="" style="border-radius: 50%;" width="100px" height="100px">
            </div>
            {% endif %}
            <h2 class="text-center">{{g.username}}</h2>
            <div class="d-flex justify-content-end">
                <a class="btn btn-dark" href="/edit/profile" role="button">Edit Profile</a>
            </div>
            <hr/>
            <p>Email: {{user['email']}}</p>
            <p>Username: {{user['username']}}</p>
            <p>About me: {{user['about']}}</p>
            <p>Age: {{user['age']}} </p>
            <p>Location: {{user['loc']}}</p>
            <p>Joined: {{user['date']}} </p>
            <hr/>
        </div>
        <div class="col-8">
            <h4>News Feed</h4>
            <div>
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="text" class="form-control" name="post-content" placeholder="Make a post!">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-dark">Post</button>
                        </div>
                    </div>
                </form>
                <br/>
            </div>

            {% if posts %}
                {% for post in posts %}
                <div class="card-body" style="border: 1px rgb(199, 199, 199) solid; margin: 5px;">
                    <h5>{{post['username']}}<p>{{post['datetime']}}</p></h5>
                    <p>{{post['content']}}</p>
                        <form method="post" class="form-horizontal" enctype="multipart/form-data">
                            <p>{{post['likes']}} likes 
                                <input type="hidden" class="form-control" name="like-post-count" value="{{post['likes']}}" >
                                <button class="btn btn-outline-primary btn-sm" type="submit" name="like-post-id" value="{{post['id']}}">LIKE</button>
                                <a href="/post?id={{post['id']}}"><button class="btn btn-outline-secondary btn-sm" type="button">COMMENT</button></a>
                            </p>
                        </form>
                </div>
                {% endfor %}                
            {% endif %}    
        </div>
    </div>
  </div>
{% endblock body %}