{% extends 'base.html' %}

{% block title %}MySocialApp{% endblock title %}


{% block body %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">MySocialApp</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Get the MySocialApp Habit.</h2>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Co-founded by: Han Chien Leow | Evan Blake Mason</h2>
                <a class="btn btn-outline-light" href="/signup">Get Started</a>
            </div>
        </div>
    </div>
</header>
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">About MySocialApp</h2>
                <p class="text-white-50">
                    MySocialApp is a project developed by Han Chien Leow, s3778722 and Evan Blake Mason, s3688949 for
                    RMIT Cloud Computing Final Assignment (50%) - Timed Practical AWS Cloud System Development.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}