{% extends 'portal_base.html' %}

{% block title %}Portal - MySocialApp{% endblock title %}


{% block body %}
<div class="container">
    <h1 class="text-center">
        <img src="/static/img/home.svg" alt="" width="35px" height="35px">
        Admin Portal
    </h1>
    <h1>QUERY HERE</h1>
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        <input type="text" class="form-control" name="query" value='SELECT * FROM "social_users"."social_users"'>
        <br>
        <button class="btn btn-outline-primary btn-sm" type="submit">QUERY</button>
    </form>
    <br>
    {% if json %}
        <h1>RESULT</h1>
        <table>
        {% for row in json['ResultSet']['Rows'] %}
            <tr>
                {% for data in row['Data'] %}
                <td>{{data['VarCharValue']}}</td> 
                {% endfor %}
            </tr>
        {% endfor %}
        </table>   
    {% endif %}
{% endblock body %}