{% extends 'portal_base.html' %}

{% block title %}Portal - MySocialApp{% endblock title %}


{% block body %}
<div class="container">
    <h1 class="text-center">
        <img src="/static/img/home.svg" alt="" width="35px" height="35px">
        Admin Portal
    </h1>
    {% if json %}
        <h1>MY DATA</h1>
        <table>
        {% for row in json['ResultSet']['Rows'] %}
            <tr>
                {% for data in row['Data'] %}
                <td>{{data['VarCharValue']}}</td> 
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock body %}