{% extends 'base.html' %}

{% block title %}Home - MySocialApp{% endblock title %}


{% block body %}
<div class="container">
    <h1 class="text-center">
        <img src="/static/img/home.svg" alt="" width="35px" height="35px">
        HOME
    </h1>
    <hr/>
    <br/>   
    <div class="row">
        <div class="col-4">
            <h4>Profile</h4>
            {% if user['image_path'] %}
            <div class="d-flex justify-content-center">
                <img src="{{  user['image_path'] }}" alt="" style="border-radius: 50%;" width="100px" height="100px">
            </div>
            {% else %}
            <div class="d-flex justify-content-center">
                <img src=" https://mysocialapp.s3.us-east-2.amazonaws.com/default" alt="" style="border-radius: 50%;" width="100px" height="100px">
            </div>
            {% endif %}
            <h2 class="text-center">{{g.username}}</h2>
            <div class="d-flex justify-content-end">
                <a class="btn btn-dark" href="/edit/profile" role="button">Edit Profile</a>
            </div>
            <hr/>
            <p>Email: {{user['email']}}</p>
            <p>Username: {{user['username']}}</p>
            <p>About me: {{user['about']}}</p>
            <p>Age: {{user['age']}} </p>
            <p>Location: {{user['loc']}}</p>
            <p>Joined: {{user['date']}} </p>
            <hr/>
        </div>
        <div class="col-8">
            <h4>Post</h4>
            {% if post %}
                <div class="card-body" style="border: 1px rgb(199, 199, 199) solid; margin: 5px;">
                    <div class="card-body" style="border: 1px rgb(199, 199, 199) solid; margin: 5px;">
                    {% if post['post-profile-img'] and post['post-profile-img'] != "None" and post['post-profile-img'] != "null" %}
                    <div class="d-flex justify-content-left">
                        <img src="{{  post['post-profile-img'] }}" alt="" style="border-radius: 50%;" width="50px" height="50px">
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-left">
                        <img src=" https://mysocialapp.s3.us-east-2.amazonaws.com/default" alt="" style="border-radius: 50%;" width="50px" height="50px">
                    </div>
                    {% endif %}
                    <p><strong>{{post['username']}}</strong></p>
                    <i>Date/time: {{post['datetime']}}</i>
                    <hr/>
                    <p>{{post['content']}}</p>
                    {% if post['post-img'] %}
                    <div class="d-flex justify-content-left">
                        <img src="{{  post['post-img'] }}" alt="" width="500px" height="500px">
                    </div>
                    {% endif %}
                    <hr/>
                    <p>{{post['likes']}} likes 
                        <form method="post" class="form-horizontal" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" name="like-post-count" value="{{post['likes']}}" >
                            <button class="btn btn-outline-primary btn-sm" type="submit" name="like-post-id" value="{{post['id']}}">LIKE</button>
                            {% if user['username'] == post['username'] %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit" name="delete-post-id" value="{{post['id']}}">DELETE</button>
                            {% endif %}
                        </form>
                    </p>
                </div>           
            {% endif %}
            {% if comments %}
            <br>
            <h4>Comments</h4>
                {% for comment in comments %}
                <div class="card-body" style="border: 1px rgb(199, 199, 199) solid; margin: 5px; margin-left: 40px;">
                    {% if comment['comment-profile-img'] and comment['comment-profile-img'] != "None" and comment['comment-profile-img'] != "null"  %}
                    <div class="d-flex justify-content-left">
                        <img src="{{  comment['comment-profile-img'] }}" alt="" style="border-radius: 50%;" width="50px" height="50px">
                    </div>              
                    {% else %}
                    <div class="d-flex justify-content-left">
                        <img src=" https://mysocialapp.s3.us-east-2.amazonaws.com/default" alt="" style="border-radius: 50%;" width="50px" height="50px">
                    </div>
                    {% endif %}
                    <p><strong>{{post['username']}}</strong></p>
                    <i>Date/time: {{post['datetime']}}</i>
                    <hr/>
                    <p>{{comment['content']}}</p>
                    <hr/>
                    <p>{{comment['likes']}} likes 
                        <form method="post" class="form-horizontal" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" name="like-comment-count" value="{{comment['likes']}}" >
                            <button class="btn btn-outline-primary btn-sm" type="submit" name="like-comment-id" value="{{comment['id']}}">LIKE</button>
                            {% if user['username'] == comment['username'] %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit" name="delete-comment-id" value="{{comment['id']}}">DELETE</button>
                            {% endif %}
                        </form>
                    </p>
                </div>
                {% endfor %}                
            {% endif %}    
            <h4 style="margin-left: 40px;">Write Comment</h4>
            <div style="margin-left: 40px;">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="text" class="form-control" name="comment-content" placeholder="Comment on this post!">
                            <input type="hidden" class="form-control" name="comment-profile-img" value="{{ user['image_path'] }}">
                            <input type="hidden" class="form-control" name="comment-id" value="{{post['id']}}" >
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-dark">Comment</button>
                        </div>
                    </div>
                    
                </form>
                <br/>
            </div>  
        </div>
    </div>
  </div>
{% endblock body %}